.modal-wrapper {
    background: #fff;
    border: 1px solid;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    /*margin: 100px auto 0;*/
    transition: all .8s;
    /*height: 25%;
    max-height: 25%;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
}

.modal-confirm {
    height: 100%;
    max-height: 35%;
    width: 50%;
    max-width: 50%;
}

.modal-form {
    height: 50%;
    max-height: 50%;
    width: 50%;
    max-width: 50%;
}

.modal-header {
    background: #00796B;
    height: 8vh;
    padding: 15px 20px 5px 20px;
    line-height: 6vh;
    /*padding: 1vh 20px;*/
    text-align: right;
}

.modal-header h3 {
    color: white;
    float: left;
    margin: 0;
    padding: 0;
}

.modal-body {
    padding: 0;
    height: 100%;
    position: relative;
    width: 100%;
}

.modal-footer {
    bottom: 0;
    position: absolute;
    background: #00796B;
    height: 8vh;
    padding: 15px 0 5px 0;
    line-height: 6vh;
    width: 100%;
}

.close-modal-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
}

.close-modal-btn:hover {
    color: black;
}

.btn-cancel, .btn-continue {
    background: transparent;
    cursor: pointer;
    font-weight: bold;
    padding: 1.5vh;
    color: #fff;
}

.btn-cancel {
    border: 1px inline #FF6D00;
    border-radius: 10px;
    float: left;
    width: 25%;
    margin-left: 10%;
}

.btn-continue {
    border: 1px inline #7E57C2;
    border-radius: 10px;
    float: right;
    width: 25%;
    margin-right: 10%;
}

.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1.3s;
    top: 0;
    bottom: 0;
}

.open-modal-btn {
    margin: 15px;
    padding: 10px;
    font-weight: bold;
}
